.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  border: none;
  cursor: pointer; 
  padding-left: 4px;
}
.containerTask{
  display: flex ;
  align-items: center;    
  
}
.input{
  outline: none;
  margin: 0 10px;
}

.task{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px;  
}

.options{
  background-color: white;
  border: none;
  cursor: pointer;
}
